# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

information.xml
debug.txt
*.dot

ForeC Benchmarks/ptarm/Pipelining/Pipelining.c
ForeC Benchmarks/x86/Design patterns/Broadcast/Broadcast.c

PTARM Processor/programs/memory/_build/memory.o.expanded.c
PTARM Processor/programs/memory/_build/memory.elf
PTARM Processor/programs/eoe/_build/eoe.o.expanded.c
PTARM Processor/programs/eoe/_build/eoe.elf

.DS_Store
*~
