# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

information.xml
debug.txt
*.dot

ForeC Benchmarks/ptarm/Pipelining/Pipelining.c
ForeC Benchmarks/x86/Design patterns/Broadcast/Broadcast.c
ForeC Benchmarks/x86/Pi/BaselineOpenMP
ForeC Benchmarks/x86/Pi/Test
ForeC Benchmarks/x86/Pi/BaselineSequential
ForeC Benchmarks/x86/Pi/BaselineForeC
ForeC Benchmarks/x86/Pi/BaselineForeC.c
ForeC Benchmarks/x86/Lzss/result_data.txt
ForeC Benchmarks/x86/Nokia 802_11a/Original/802_11a
ForeC Benchmarks/x86/Nokia 802_11a/Pipelined/802_11a
ForeC Benchmarks/x86/Nokia 802_11a/Pipelined/802_11a.c
ForeC Benchmarks/x86/Nokia 802_11a/Pipelined/plainC_SimOutput/
ForeC Benchmarks/x86/Nokia 802_11a/Pipelined (predicated execution, old)/802_11a
ForeC Benchmarks/x86/Nokia 802_11a/Pipelined (predicated execution, old)/802_11a.c
ForeC Benchmarks/x86/Nokia 802_11a/Pipelined (predicated execution, old)/plainC_SimOutput/
ForeC Benchmarks/x86/FmRadio/pipelined/FmRadio.c
ForeC Benchmarks/x86/WordSearch/WordSearch
ForeC Benchmarks/x86/WordSearch/WordSearch.c
ForeC Benchmarks/x86/WordSearch/debug.txt
ForeC Benchmarks/x86/mandelbrot/Mandelbrot.visual
ForeC Benchmarks/x86/mandelbrot/Mandelbrot.visual.c
ForeC Benchmarks/x86/mandelbrot/Mandelbrot
ForeC Benchmarks/x86/mandelbrot/Mandelbrot.c
ForeC Benchmarks/x86/Life/Life.visual
ForeC Benchmarks/x86/Life/Life.visual.c
ForeC Benchmarks/x86/Life/Life.c
ForeC Benchmarks/x86/Life/original/Life
ForeC Benchmarks/x86/Life/original/Life.visual


PTARM Processor/programs/memory/_build/memory.o.expanded.c
PTARM Processor/programs/memory/_build/memory.elf
PTARM Processor/programs/eoe/_build/eoe.o.expanded.c
PTARM Processor/programs/eoe/_build/eoe.elf

.DS_Store
*~
